<div class="display-flex justify-content-flex-end sort-container">
  <mat-form-field appearance="fill">
    <mat-label>Sort By</mat-label>
    <mat-select (selectionChange)="doSomething($event)">
      <mat-option *ngFor="let sortByOption of sortByOptions" [value]="sortByOption.value">
        {{sortByOption.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>


<ng-container *ngFor="let challenge of challenges$ | async">
  <div class="challenge-card">
    <mat-card>
      <mat-card-header class="display-block">
        <mat-card-title>
          <div class="display-flex justify-content-space-between">
            <div>{{challenge.name}} ({{challenge.created_at | date : 'MMM d, y'}})</div>
            <div>{{challenge.no_of_likes}} Likes</div>
          </div>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div>
          {{challenge.description}}
        </div>
      </mat-card-content>

      <mat-card-actions>
        <div class="display-flex justify-content-space-between">
          <div>
            <button mat-button (click)="liked(challenge.id)">
              <mat-icon [ngClass]="{'liked-challenge': challenge.is_liked}">thumb_up</mat-icon>
            </button>

          </div>

          <div>
            <mat-chip-list >
              <mat-chip *ngFor="let tag of challenge.tags">{{tag}}</mat-chip>
            </mat-chip-list>
          </div>

        </div>
        
      </mat-card-actions>

    </mat-card>
  </div>
  
</ng-container>