<div class="test-conatiner">
  <div class="navbar-container display-flex justify-content-space-between">
    <div>
      <input placeholder="Type" id="myInput" (input)="typing($event)"/>
    </div>
  
  
    <div>
      Sort by
      <select class="drop-down" name="sortBy" id="mySelect" (change)="sort($event)">
        <option value="none">None</option>
        <option value="title">Title</option>
        <option value="date">Date</option>
      </select>
  
    </div>
  </div>
  
  
  <div class="display-grid justify-content-space-between test-grid ">
    <ng-container *ngFor="let item of data; index as i">
      <ng-container *ngIf="(i >= (page - 1) * itemCount) && i < (page * itemCount)">
        <app-card [item]="item" [index]="i"></app-card>
      </ng-container>
    </ng-container>
  </div>
  
  <div class="prev-next-container display-flex justify-content-flex-end">
    <div>
      No of items per page
      <select class="drop-down" name="no_of_items" id="noOfItems" (change)="changePageCount($event)">
        <ng-container *ngFor="let papageCountOption of pageCountOptions">
          <option value="{{papageCountOption}}">{{papageCountOption}}</option>
        </ng-container>
      </select>
    </div>
    <button (click)="prev()" [disabled]="page === 1">Prev</button>
    <button (click)="next()" [disabled]="page >= (data.length / itemCount)">Next</button>
  </div>
  
  <div class="table">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Desription</th>
          <th>Image</th>
          <th>Updated at</th>
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let item of data; index as i">
          <ng-container *ngIf="(i >= (page - 1) * itemCount) && i < (page * itemCount)">
            <td label="Name">{{item.name}}</td>
            <td label="Desription">{{item.description}}</td>
            <td label="Image">
              <img class="table-image" src="{{item.image}}" />
            </td>
            <td label="Updated at">{{item.dateLastEdited | date: 'MMM d, y'}}</td>
          </ng-container>
          
        </tr>
      </tbody>
    </table>
  </div>
</div>

  