<div class="navbar-container display-flex justify-content-space-between">

  <div>
    <input placeholder="Type" id="myInput" (input)="typing($event)"/>
  </div>


  <div>
    Sort by
    <select class="drop-down" name="sortBy" id="mySelect" (change)="sort($event)">
      <option value="none"></option>
      <option value="title">Title</option>
      <option value="date">Date</option>
    </select>

  </div>
</div>


<div class="display-grid justify-content-space-between test-grid ">
  <ng-container *ngFor="let item of data; index as i">
    <ng-container *ngIf="i >= startIndex && i < lastIndex">
      <div class="abc-33 display-flex flex-direction-column justify-content-space-between">
        <div class="image-container">
          <img class="image" src="{{item.image}}" />
        </div>
        <div>
          <h2>{{i}}. {{item.name}}</h2>
          <p>{{item.description}}</p>
          <h3>Updateded at {{item.dateLastEdited | date: 'MMM d, y'}}</h3>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>

<div class="prev-next-container display-flex justify-content-space-between">
  <button (click)="prev()" [disabled]="startIndex === 0">Prev</button>
  <button (click)="next()" [disabled]="lastIndex >= data.length">Next</button>
</div>

<div class="table">
  <table>
    <tr>
      <th>Name</th>
      <th>Desription</th>
      <th>Image</th>
      <th>dateLastEdited</th>
    </tr>
    <tbody>
      <tr *ngFor="let item of data; index as i">
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>{{item.image}}</td>
        <td>{{item.dateLastEdited | date: 'MMM d, y'}}</td>
      </tr>
    </tbody>
  </table>
</div>
  