/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.display-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.display-grid {
  display: grid;
}

.display-block {
  display: block !important;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.width-100 {
  width: 100%;
}

// .abc-33 {
//   width: 33vw;;
// }
